<h1>Welcome to the Bike Manager</h1>

<ul>
# User Story 1, Parent Index  - When I visit '/parents' then I see the name of each parent record in the system
  <li><a href="/bikeshops">Bike Shop Index</a></li>
  <li><a href="/parents/:id">New Task</a></li>
  <li><a href="/bikes">New Task</a></li>
</ul>